<div class="parent--container">
  <h2 [hidden]="!isVisible">I'm a parent component!</h2>
  <p class="parent--container__p">
    You have clicked the button
    <span
      class="counter"
      [class.counter--red]="counter === 0"
      [class.counter--green]="counter > 0"
      >{{ counter }}</span
    >
    {{ counter === 1 ? "time" : "times" }}
  </p>
  <app-child
    [counter]="counter"
    (listenCounter)="increaseCounterParent($event)"
    [isVisible]="isVisible"
    (listenIsVisible)="showElement($event)"
  ></app-child>
</div>
