.child--container {
  width: 30vw;
  background-image: linear-gradient(
    to right,

    rgb(216, 166, 27),
    rgb(243, 205, 123)
  );
  margin: 0 auto;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 20px 50px rgb(83, 77, 77);

  h4 {
    text-align: center;
    margin: 1rem 0;
  }

  .btn--counter {
    display: block;
    padding: 1rem;
    margin: 3rem auto;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.1s;

    &:hover {
      color: white;
      background-color: black;
      transform: translateY(-5px);
      box-shadow: 0 5px 10px rgb(71, 71, 71);
    }
  }
}
